[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "posts/simd-minimizers/minimizers"]
	path = posts/simd-minimizers/minimizers
	url = https://github.com/RagnarGrootKoerkamp/minimizers
[submodule "posts/simd-minimizers/submodule-minimizers"]
	path = posts/simd-minimizers/submodule-minimizers
	url = https://github.com/RagnarGrootKoerkamp/minimizers
