p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

table th,
table td {
  padding: 0.5rem;
  border-width: 1px;
}

table {
  max-width: 130rem;
  width: 90vw;
  position: relative;
  left: max(-45vw + 50%, -65rem + 50%);
}
