/* dense paragraphs */
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* dense & clean table */
table th,
table td {
  padding: 0.2rem 0.4rem;
  border-width: 1px 0px;
  border-color: gray;
}
table tr:last-child td,
table th {
  border-bottom-width: 2px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

/* table may be wider than text */
table {
  max-width: 150rem;
  width: 90vw;
  position: relative;
  left: max(-45vw + 50%, -75rem + 50%);
}

.content figure {
  float: right;
  clear: right;
  margin: 2rem;
  margin-right: max(-35% - 2rem, -50vw + 50% + 2rem);
  max-width: 35%;
}

.content figure.large {
  margin-right: max(-60% - 2rem, -50vw + 50% + 2rem);
  max-width: 60%;
}

.content figure.inset {
  float: none;
  clear: initial;
  margin: 2rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 920px) {
  .content figure {
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(0.35 * 860px);
  }

  .content figure.large {
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(0.6 * 860px);
  }
}

.content article p {
  hyphens: none;
}
