html.reveal-full-page {
    font-size: 60px;

    body {
        background-color: rgb(250, 250, 250) !important;
        color: black !important;
    }
}

.reveal {
    $highlight: #ffc107 !default;
    $background: #f8f4d7 !default;
    $cat_highlight: #ff9147 !default;
    $cat_background: #f8e4e7 !default;
    $new_highlight: #71cf37 !default;
    $new_background: #e4f8e7 !default;
    $note_highlight: #888888 !default;
    $note_background: #eeeeee !default;

    font-size: 1rem;

    .slides {
        text-align: left;
    }

    .progress span {
        // Avoid moving animation.
        transition: transform;
    }

    .cols {
        display: flex;
    }
    .col {
        flex: 1;
    }

    #sec-title-slide {
        text-align: center;
        // vertically center all content
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        height: 80%;

        h1 {
            // padding-top: 0.5em;
            // padding-bottom: 0.5em;
        }
        h2 {
            border: none;
        }

        h2.date,
        p.date {
            display: none;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        .section-number-1,
        .section-number-2,
        .section-number-3 {
            color: $highlight;
        }

        code {
            font-size: 0.8em;
        }
    }

    h1 {
        font-size: 1.7rem;
        line-height: 5rem;
        border-bottom: 5px solid $highlight;
        background-color: $background;
        width: 100%;
    }

    h2 {
        font-size: 1.4rem;
        line-height: 1.6rem;
        border-bottom: 5px solid $highlight;
        margin-bottom: 0.75rem;
    }

    h3 {
        font-size: 1.4rem;
        line-height: 1.6rem;
        border-bottom: 5px solid $highlight;
        width: fit-content;
        margin-bottom: 0.75rem;
        // text-decoration: underline;
        // text-decoration-color: $highlight;
        // text-decoration-thickness: 5px;
    }

    h4 {
        font-size: 2rem;
        line-height: 2.4rem;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }

    h5 {
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin-top: 1rem;
        margin-bottom: 0.25rem;
    }

    h6 {
        font-size: 1.2rem;
        line-height: 1.4rem;
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }

    .notice {
        border-radius: 0.5rem;
        border-color: $highlight;
        border-width: 0px;
        border-bottom-width: 6px;
        border-style: solid;
        background-color: $background;
        position: relative;
        margin: 2rem 0;
        padding: 0 0.75rem;
        overflow: auto;

        display: block;

        &::before {
            content: "Proposition";
            display: block;

            position: relative;
            font-weight: 700;
            margin: 0 -0.75rem;
            padding: 0rem 1rem;
            border-bottom: 4px solid $highlight;
        }
    }
}
